*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.article1{
    margin: 20px auto;
    background:rgb(50, 189, 194);
    padding: 40px;
    width: 800px;
    text-align: left;
    border-radius: 7px;
}

.article2{
    text-align: center;
    margin: 20px auto;
    background:rgb(26, 62, 63);
    padding: 40px;
    width: 300px;
    border-radius: 30px;
}

.article3{
    margin: 20px auto;
    background:rgb(33, 168, 44);
    padding: 90px;
    width: 800px;
    border-radius: 7px;
}


.article4{
    text-align: right;
    margin: 100px auto;
    background:rgb(238, 190, 150);
    padding: 100px;
    width: 600px;
    border-radius: 7px;
}


.articletitulo{

    background: rgb(243, 103, 189);
    text-align: center;
    margin: 20px auto;
    padding: 40px;
    width: 800px;
    text-align: center;
    border-radius: 7px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px; 
    background: darkmagenta;
    color: rgb(255, 255, 255);
    }

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: large;
    color: white;
}


h3{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
}


p{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    background-color: violet;
}

li{
    color: red;
    font-size: 30px;
    font-style: italic;
    background-color: yellow;
}

p2{
    text-align: center;
    font-size: 40px;
    color: rgb(194, 17, 17);
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(144, 122, 224);
}

body{
background-image :url("imagenes/pexels-kevin-ku-577585.jpg");
background-size: cover;
}